.texto {
  max-width: 80%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
  color: white;
}

h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  min-width: 960px;
}
body .image {
  width: 100%;
}
body .parallax-window {
  min-height: 440px;
  background: transparent;
  padding-top: 60px;
}

.container {
  margin: 0;
}

.nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-width: 960px;
  z-index: 1;
  height: 60px;
}
.nav .nav-box {
  width: 80%;
  padding: 0 10%;
  line-height: 60px;
}
.nav .nav-box .logo1 {
  color: navy;
  font-size: 50px;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  z-index: 2;
}
.nav .nav-box .logo2 {
  color: white;
  font-size: 50px;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
  z-index: 2;
}
.nav .nav-box ul {
  float: right;
  line-height: 40px;
}
.nav .nav-box ul li {
  float: right;
  padding-left: 15px;
}
.nav .nav-box ul li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 100%;
  color: white;
  font-family: 'Russo One', sans-serif;
  vertical-align: bottom;
}
.nav .nav-box ul span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.presentation {
  max-width: 80%;
  padding: 30px 10%;
}
.presentation .presentation_left {
  width: 60%;
  float: left;
}
.presentation .presentation_right {
  width: 40%;
  float: left;
  text-align: right;
}
.presentation .presentation_img {
  max-width: 100%;
  border: 3px solid white;
  border-radius: 3px;
}
.presentation .serv_img {
  max-width: 100%;
  border: 3px solid white;
  border-radius: 3px;
}
.presentation .products {
  max-width: 100%;
  z-index: -1;
}
.presentation .products .img_prod {
  margin-bottom: 10px;
  margin-left: 5px;
  max-width: 30%;
  float: left;
  overflow: visible;
  margin: 5px;
  z-index: 0;
}
.presentation .products .img_prod img {
  -webkit-transition: all .3s ease;
  /* Safari y Chrome */
  -moz-transition: all .3s ease;
  /* Firefox */
  -o-transition: all .3s ease;
  /* IE 9 */
  -ms-transition: all .3s ease;
  /* Opera */
  max-width: 100%;
  filter: brightness(90%);
  border: 2px solid lightgray;
}
.presentation .products .img_prod:hover img {
  filter: brightness(100%);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 1;
}
.presentation .texto1 {
  max-width: 80%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
  color: white;
}
.presentation .texto2 {
  max-width: 100%;
  padding-left: 10%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: Tomato;
}
.presentation .texto2 h2 {
  font-size: 22px;
  color: Tomato;
}
.presentation .texto2 ul {
  list-style: circle;
}
.presentation .texto2 ul li {
  margin-left: 20px;
  margin-top: 5px;
}
.presentation .texto2 ul .ul2 {
  list-style: square;
}
.presentation .texto3 {
  max-width: 80%;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: white;
}
.presentation .texto3 h2 {
  font-size: 22px;
}

.contacto {
  background: #151618;
}
.contacto h2 {
  text-align: center;
  margin-bottom: 40px;
}
.contacto a:link, .contacto :visited {
  color: white;
}
.contacto a:hover {
  color: lightgray;
}
.contacto .contacto_box2 {
  max-width: 80%;
  padding-top: 30px;
  padding: 0 10%;
}
.contacto .contacto_box2 .contacto_left {
  min-width: 60%;
  float: left;
}
.contacto .contacto_box2 .contacto_left .map {
  max-width: 80%;
}
.contacto .contacto_box2 .contacto_right {
  max-width: 40%;
  float: left;
}
.contacto .contacto_box2 .contacto_right .texto3 {
  margin-top: 50px;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.contacto .contacto_box2 .up {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.25em;
  display: scroll;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.contacto .contacto_box2 h2 {
  font-size: 22px;
}
.contacto #map {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid white;
}

/*# sourceMappingURL=styles.css.map */
