h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}
body .image {
  width: 100%;
  margin-bottom: 10px;
}
body .parallax-window {
  min-height: 440px;
  background: transparent;
  padding-top: 60px;
}

.container {
  margin: 0;
}

.nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px 20px 0px 20px;
  z-index: 1;
}
.nav .nav-box {
  min-width: 90%;
  padding: 0 5%;
}
.nav .nav-box .logo1 {
  color: navy;
  font-size: 50px;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  z-index: 2;
}
.nav .nav-box .logo2 {
  color: white;
  font-size: 50px;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
  z-index: 2;
}
.nav .nav-box ul {
  float: right;
  margin-right: 40px;
}
.nav .nav-box ul li {
  float: right;
  padding: 10px;
  vertical-align: bottom;
}
.nav .nav-box ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Russo One', sans-serif;
  vertical-align: bottom;
}

.presentation {
  max-width: 80%;
  align-self: center;
  padding: 0 10%;
  z-index: -3;
}
.presentation .presentation_left {
  max-width: 60%;
  float: left;
}
.presentation .presentation_right {
  max-width: 40%;
  float: left;
}
.presentation .presentation_img {
  margin-top: 60px;
  max-width: 100%;
  border: 5px solid white;
  border-radius: 25px;
}
.presentation .serv_img {
  margin-top: 30px;
  max-width: 100%;
  border: 5px solid white;
  border-radius: 25px;
}
.presentation .products {
  max-width: 100%;
  margin-top: 30px;
  z-index: -1;
}
.presentation .products .img_prod {
  margin-bottom: 10px;
  margin-left: 5px;
  max-width: 30%;
  border: 2px solid white;
  border-radius: 25px;
  filter: brightness(85%);
}
.presentation .products .img_prod:hover {
  filter: brightness(100%);
}
.presentation .texto1 {
  margin-top: 60px;
  max-width: 80%;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: white;
}
.presentation .texto2 {
  margin-top: 20px;
  max-width: 100%;
  padding-left: 10%;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: white;
}
.presentation .texto2 h2 {
  font-size: 22px;
}
.presentation .texto2 ul {
  list-style: circle;
}
.presentation .texto2 ul li {
  margin-left: 20px;
  margin-top: 10px;
}
.presentation .texto2 ul .ul2 {
  list-style: square;
}
.presentation .texto3 {
  margin-top: 30px;
  max-width: 80%;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: white;
}
.presentation .texto3 h2 {
  font-size: 22px;
}

.contacto {
  background: #151618;
}
.contacto h2 {
  text-align: center;
  margin-bottom: 40px;
}
.contacto .contacto_box2 {
  max-width: 80%;
  padding-top: 30px;
  padding: 0 10%;
}
.contacto .contacto_box2 .contacto_left {
  min-width: 60%;
  float: left;
}
.contacto .contacto_box2 .contacto_left .map {
  max-width: 80%;
}
.contacto .contacto_box2 .contacto_right {
  max-width: 40%;
  float: left;
}
.contacto .contacto_box2 .contacto_right .texto3 {
  margin-top: 50px;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.contacto .contacto_box2 h2 {
  font-size: 22px;
}
.contacto #map {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid white;
}

/*# sourceMappingURL=styles.css.map */
