$color:#5AC954;
$anchoNav: 60px;

.texto{
  max-width: 80%;
  // padding-right: 10%;
  // padding-left: 10%;
  // font-family: 'Russo One', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
  color: white;
  // color: #00008B;
  // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2{
  font-family: 'Russo One', sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: white;
}

body{
  margin: 0;
  padding: 0;
  min-width: 960px;
  .image{
    width: 100%;
    // margin-bottom: 10px;
  }
  .parallax-window {
    min-height: 440px;
    background: transparent;
    padding-top:60px;
  }
}

.container{
  margin: 0;
}

.nav{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-width: 960px;
  // padding: 5px 0 0 0;
  z-index: 1;
  height: 60px;
  .nav-box{
    width:80%;
    padding: 0 10%;
    line-height: 60px;
    .logo1{
      color: navy;
      font-size: 50px;
      font-family: 'Russo One', sans-serif;
      text-decoration: none;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      z-index: 2;
    }
    .logo2{
      color: white;
      font-size: 50px;
      font-family: 'Russo One', sans-serif;
      text-decoration: none;
      /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
      z-index: 2;
    }
    ul{
      float:right;
      // padding-top: 10px;
      line-height: 40px;
      li{
        float: right;
        padding-left: 15px;
        a{
          text-decoration: none;
          font-size: 20px;
          line-height: 100%;
          color: white;
          font-family: 'Russo One', sans-serif;
          vertical-align: bottom;
        }
      }

      span{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }
  }
}

.presentation{
    // padding: 10%;
    max-width:80%;
    padding: $anchoNav/2 10%;

  .presentation_left{
    width: 60%;
    float: left;
    // padding-top: $anchoNav;
  }

  .presentation_right{
    width: 40%;
    float: left;
    // padding-top: $anchoNav;
    text-align: right;
  }

  .presentation_img{
    max-width: 100%;
    border: 3px solid white;
    border-radius: 3px;
    }

  .serv_img{
    max-width: 100%;
    border: 3px solid white;
    border-radius: 3px;
  }

  .products{
    max-width: 100%;
    // margin-top: 30px;
    z-index: -1;

    .img_prod{
      margin-bottom: 10px;
      margin-left: 5px;
      max-width: 30%;
      float: left;
      // filter: brightness(90%);
      overflow: visible;
      margin: 5px;
      z-index: 0;
    }

    .img_prod img{
      -webkit-transition:all .3s ease; /* Safari y Chrome */
      -moz-transition:all .3s ease; /* Firefox */
      -o-transition:all .3s ease; /* IE 9 */
      -ms-transition:all .3s ease; /* Opera */
      max-width: 100%;
      filter: brightness(90%);
      border: 2px solid lightgray;

    }

    .img_prod:hover img{
      filter: brightness(100%);
      -webkit-transform:scale(1.5);
      -moz-transform:scale(1.5);
      -ms-transform:scale(1.5);
      -o-transform:scale(1.5);
      transform:scale(1.5);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      z-index: 1;
    }


    // .img_prod{
    //
    //   // margin: 5px;
    //   //
    //   // filter: brightness(90%);
    //   // opacity: 0.95;
    //   overflow:hidden;
    // }
  }


  .texto1{
    // margin-top: 60px;
    max-width: 80%;
    // padding-right: 10%;
    // padding-left: 10%;
    // font-family: 'Russo One', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;
    color: white;
    // color: #00008B;
    // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .texto2{
    // margin-top: 20px;
    max-width: 100%;

    // padding-right: 10%;
    padding-left: 10%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: Tomato;
    // color: #00008B;
    // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    h2{
      font-size: 22px;
      color: Tomato;
    }

    ul{
      list-style: circle;
      li{
        margin-left: 20px;
        margin-top: 5px;
      }
      .ul2{
        list-style: square;
      }
    }

  }

  .texto3{
    // margin-top: 30px;
    max-width: 80%;
    // padding-right: 10%;
    // padding-left: 10%;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    color: white;
    // color: #00008B;
    // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    h2{
      font-size: 22px;
    }
  }
}



// @keyframes shadowBOX{
//   0%{
//     box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;
//     transform:translateX(0) translateY(0)
//   }
//   100%{
//     box-shadow:1px 1px #3e3e3e,2px 2px #3e3e3e,3px 3px #3e3e3e,4px 4px #3e3e3e,5px 5px #3e3e3e,6px 6px #3e3e3e,7px 7px #3e3e3e,8px 8px #3e3e3e;
//     transform:translateX(-8px) translateY(-8px);
//     background: lighten($color,20%);
//   }
// }

// #Servicios{
//   &:hover{
//     .card{
//       animation-name: shadowBOX;
//       animation-duration: 1s;
//       animation-fill-mode:forwards;
//       z-index: -1;
//     }
//   }
// }
//
// .card-box{
//   padding: 10px;
//   max-width:80%;
//   align-self: center;
//   margin: 0 10%;
//   .card-wrapper{
//     width: 25%;
//     float: left;
//     .card{
//       background: $color;
//       height: 360px;
//       margin: 10px;
//       &:hover{
//         background: lighten($color,20%);
//       }
//       .card-content{
//         font-family: 'Russo One', sans-serif;
//         font-size: 30px;
//         text-align: center;
//         color: white;
//         padding: 30px;
//         .number{
//           font-size: 50px;
//           text-align: center;
//           padding: 20px;
//           margin-bottom: 10px;
//         }
//       }
//     }
//   }
// }

.contacto{
  background: #151618;
  // min-height: 440px;
  // padding-top: 10px;
  // max-width:80;

  h2{
    text-align: center;
    margin-bottom: 40px;
  }

  a:link,:visited{
    color: white;
  }

  a:hover{
    color: lightgray;
  }

  .contacto_box2{
    max-width: 80%;
    padding-top: 30px;
    padding: 0 10%;
    .contacto_left{
      min-width: 60%;
      // padding: 0 10%;
      float: left;
      .map{
        max-width: 80%;
        // margin: 0 10%;
      }
    }

    .contacto_right{
      max-width: 40%;
      // padding: 0 10%;
      float: left;
      // background-color: blue;

      .texto3{
        margin-top: 50px;
        // padding-right: 10%;
        // padding-left: 10%;
        font-family: 'Russo One', sans-serif;
        font-size: 18px;
        line-height: 30px;
        // text-align: justify;
        color: white;
        // color: #00008B;
        // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      }
    }

    .up{
      color: white;
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.25em;
      display:scroll;
      position:fixed;
      bottom:40px;
      right:40px;
    }

    h2{
        font-size: 22px;
      }

  }

  // .image{
  //   margin-bottom: 0px;
  // }

  #map{
    height: 300px;
    width:100%;
    // padding-left: 10px;
    border-radius: 10px;
    border: 3px solid white;
  }

  // .logo1{
  //   color: navy;
  //   font-size: 30px;
  //   font-family: 'Russo One', sans-serif;
  //   text-decoration: none;
  //   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  // }
  //
  // .logo2{
  //   color: white;
  //   font-size: 30px;
  //   font-family: 'Russo One', sans-serif;
  //   text-decoration: none;
  //   /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
  // }
}
